*{
    margin: 0;
    padding: 0;
}
body {
    background: var(--primary-color);
    background-color: #f7f7f7;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 5fr 1fr;
    
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
}

main img{
    grid-column: 2/3;

}

.image-tags{
    grid-column: 2/3;
    grid-row: 2/3;
    list-style: none; /* Removes the default bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Allows list items to sit side-by-side */
    gap: 10px;
}

.image-tags li {
    /*pill shape */
    border-radius: 50px; 
    background-color: #e0e5e9; /* Light grey background */
    color: #334e5e; /* Darker text color */
    padding: 8px 15px; /* vertical and horizontal padding */
   
}

footer{
    justify-self: center;
   
}



header{
    background-color: var(--primary-color);
    grid-row: 1;
    position: static;
    height: 6em;

    
    
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    
    /* color: white; */
   

}

header form{
    padding: 1.5em;
}
header form:nth-of-type(1) {
    grid-column: 3 / 4; 
}    

/* Tomato Form - Column 4 */
header form:nth-of-type(2) {
    grid-column: 4 / 5; 
}

/* Star Form - Column 5 */
header form:nth-of-type(3) {
    grid-column: 5 / 6; 
}


.back-icon {
    grid-column: 1/1;
    margin-left: 10px;
    
}

.heart{
    grid-column: 2/2;
}

.tomato{
    grid-column: auto;
}

.star{
    grid-column: -1;
}

.action-header{
    background-color: var(--primary-color);
    justify-self: start;
    grid-column: 1/2;
}


nav{
    background-color: var(--primary-color);
    grid-row: auto;
    position: sticky;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   

} 
 
nav a{
    margin: 10px;

}

main img{
    max-width: fit-content;
    /* align-self: center; */
    top: 0;
    
}

/* .image-tags{
   background-color: white;
    border-radius: 6px;
    color: black;
    width: 75px;
    text-align: right; 
} */