*{
    margin: 0;
    padding: 0;
}
body {
    background: var(--primary-color);
    background-color: #f7f7f7;
    display: grid;
    min-height: 100vh;
    padding-bottom: 60px;
    
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;  
}

/* responsive */
@media (min-width: 678px) {
     main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;  
        margin: 0 auto;
        padding: 20px;
        max-width: 1000px;
        align-items: start;
        overflow: hidden;
    } 
    
}

@media (min-width: 678px) {
    main img{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        max-width: 100%;
        height:auto;
        object-fit: contain;
    }

    .metadata-wrapper {
        grid-column: 2/3;
        grid-row: 1/2;

        display: flex;
        flex-direction: column;
        /* vert tags en datetime */

        /* stukje tussen img en tags */
        padding-left: 1.5em;  
    }

    .image-tags{
        flex-direction: column;
        align-self: flex-end; /**/
        margin-bottom: 1.53em;
    }

    .photo-datetime{
        align-self: flex-end;
        margin-top: auto;

    }


}

main img{
    /* full width span van col 1 tot eind */
    grid-column: 1/-1;  
    grid-row: 1;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.image-tags{
    grid-column: 1/-1;
    grid-row: 2;
    list-style: none; /* Removes the default bullet points */
    padding: 10px 0;
    margin: 0;
    display: flex; /* Allows list items to sit side-by-side */
    gap: 10px;
    justify-content: flex-start;
}

.image-tags li {
    /*pill shape */
    border-radius: 50px; 
    background-color: #e0e5e9; /* Light grey background */
    color: #334e5e; /* Darker text color */
    padding: 8px 15px; /* vertical and horizontal padding */
   
}

footer{
    justify-self: center;
   
}



header{
    background-color: var(--primary-color);
    grid-row: 1;
    position: static;
    height: 6em;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    
    /* color: white; */
   

}



header form{
    padding: 1.5em;
}
header form:nth-of-type(1) {
    grid-column: 3 / 4; 
}    

/* Tomato Form - Column 4 */
header form:nth-of-type(2) {
    grid-column: 4 / 5; 
}

/* Star Form - Column 5 */
header form:nth-of-type(3) {
    grid-column: 5 / 6; 
}

.heart{
    grid-column: 2/2;
}

.tomato{
    grid-column: auto;
}

.star{
    grid-column: -1;
}



nav{
    background-color: var(--primary-color);
/* positoming nav, make sure it stays at the bottom */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;     
    left: 0;

    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   

} 
 
nav a{
    margin: 10px;

}



header .back-icon {


}

