body {
    background: var(--primary-color);
    background-color: #f7f7f7;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 5fr 1fr;
    
}

header{
    background-color: var(--primary-color);
    grid-row: 1;
    position: static;
    top: 0;
    
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    padding: 0 15px;
    color: white;
   

}

header form{
    padding: 1em;
}
header form:nth-of-type(1) {
    grid-column: 3 / 4; 
}    

/* Tomato Form - Column 4 */
header form:nth-of-type(2) {
    grid-column: 4 / 5; 
}

/* Star Form - Column 5 */
header form:nth-of-type(3) {
    grid-column: 5 / 6; 
}


.back-icon {
    grid-column: 1/1;
    margin-left: 10px;
    
}

.heart{
    grid-column: 2/2;
}

.tomato{
    grid-column: auto;
}

.star{
    grid-column: -1;
}

.action-header{
    background-color: var(--primary-color);
    justify-self: start;
    grid-column: 1/2;
}


nav{
    background-color: var(--primary-color);
    grid-column: span;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

} 
 
nav a{
    margin: 10px;

}

main img{
    border-radius: 5px;
    max-width: fit-content;
    align-self: center;
}

.image-tags{
   background-color: white;
    border-radius: 6px;
    color: black;
    width: 75px;
    text-align: right; 
}